body{

	background-color: pink;
}

#navigation-bar {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#navigation-bar li {
  display: inline;
  float: right;
}
#navigation-bar li a {
  width: 15px;
  padding: 0.5em 1em;
  text-decoration: blink;
  font-size: 25px;
  color: red;
}

#navigation-bar li a:hover {
  
background-color: yellow;
font-size: 45px;
width: 5px;
color: blue;

 }
li:active{

  color:red;
  width: 10px;
}

